        <div class="container">
            <center><h2>Please sign in</h2></center>
            <%= form_with url: "/sessions", method: :post do |f| %>
                <div class="field mt-2">
                <div class="row">
                    <div class="col-md-8 offset-2">
                    <%= f.label :email, "Email Address" %><br />
                    <%= f.email_field :email, :class => 'form-control', :required => true %>
                    </div>
                </div>
                </div>
                <div class="field mt-2">
                <div class="row">
                    <div class="col-md-8 offset-2">
                    <%= f.label :password, "Password" %><br />
                    <%= f.password_field :password, :class => 'form-control', :required => true  %>
                    </div>
                </div>
                </div>
            <div class="field mt-2">
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <%= f.radio_button :user_type, 'merchant', :checked => true %> 
                        <%= label :user_type_merchant, 'Merchant' %>
                        <%= f.radio_button :user_type, 'admin' %>
                        <%= label :user_type_admin, 'Admin' %>
                    </div>
                </div>
                </div>
                <div class="field mt-4">
                <div class="row">
                    <div class="col-md-12 offset-2">
                    <%= f.submit "Login", :class => 'btn btn-success' %>
                    </div>
                </div>
                </div>
            <% end %>
            </div>
        </div>