<div class="container">
    <center><h2>Update <%=@current_merchant.name%></h2></center>
    <%= form_with model: @current_merchant do |f| %>
        <div class="field mt-2">
            <div class="row">
                <div class="col-md-8 offset-2">
                <%= f.label :email, "Email Address" %><br />
                <%= f.email_field :email, :class => 'form-control', :required => true %>
                </div>
            </div>
        </div>
        <div class="field mt-2">
            <div class="row">
                <div class="col-md-8 offset-2">
                <%= f.label :name, "Name" %><br />
                <%= f.text_field :name, :class => 'form-control', :required => true  %>
                </div>
            </div>
        </div>
        <div class="field mt-2">
            <div class="row">
                <div class="col-md-8 offset-2">
                <%= f.label :description, "Description" %><br />
                <%= f.text_field :description, :class => 'form-control', :required => true  %>
                </div>
            </div>
        </div>
        <div class="field mt-2">
            <div class="row">
                <div class="col-md-8 offset-2">
                <%= f.label :status, "Status" %><br />
                <%= f.select(:status, options_for_select(["inactive", "active"], f.object.status), {} , { :class => 'form_control form-select' }) %>
                </div>
            </div>
        </div>
        <div class="field mt-4">
            <div class="row">
                <div class="col-md-12 offset-2">
                <%= f.submit "Update", :class => 'btn btn-success' %>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>