<div class="container">
    <div class="row mb-5">
        <%= render partial: 'shared/navbar' %>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">UUID</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Customer email</th>
                <th scope="col">Customer phone</th>
                <th scope="col">Amount</th>
                <th scope="col">Reference Transaction</th>
                <th scope="col">created_at</th>
                <% if @user_type == 'admin' %>
                    <th scope="col">Merchant name</th>
                <% end %>

            </tr>
            </thead>
            <tbody>
                <% @transactions.each do |transaction| %>
                    <tr>
                        <th scope="row"><%=transaction[:uuid] %></th>
                        <td><%=transaction.type %></td>
                        <td><%=transaction.status %></td>
                        <td><%=transaction.email %></td>
                        <td><%=transaction.phone_number %></td>
                        <td><%=transaction.amount %></td>
                        <td><%=transaction.parent_uuid %></td>
                        <td><%=transaction.created_at %></td>
                        <% if @user_type == 'admin' %>
                            <td><%=transaction.merchant.name%> </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <div>
    <%= will_paginate @transactions %>
</div>
