<div class="container">
    <div class="row mb-5">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Welcome <%= @current_user[:name] %></span>
        </nav>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">UUID</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Customer email</th>
                <th scope="col">Customer phone</th>
                <th scope="col">Amount</th>
                <th scope="col">Reference Transaction</th>
                <th scope="col">created_at</th>
                <% if @current_user[:user_type] == 'admin' %>
                    <th scope="col">Merchant name</th>
                <% end %>

            </tr>
            </thead>
            <tbody>
                <% @transactions.each do |transaction| %>
                    <tr>
                        <th scope="row"><%=transaction[:uuid] %></th>
                        <td><%=transaction[:transaction_type] %></td>
                        <td><%=transaction[:status] %></td>
                        <td><%=transaction[:customer_email] %></td>
                        <td><%=transaction[:customer_phone] %></td>
                        <td><%=transaction[:amount] %></td>
                        <td><%=transaction[:parent_uuid] %></td>
                        <td><%=transaction[:created_at] %></td>
                        <% if @current_user[:user_type] == 'admin' %>
                            <td><%=transaction[:merchant_name]%> </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <div>
    <div class="row">
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <% (1..@num_of_pages).to_a.each do |page_num| %>
                <li class="page-item"><a class="page-link" href="/transactions?page=<%=page_num%>"><%= page_num %></a></li>
            <% end %>
        </ul>
        </nav>
    </div>
</div>
